.product-label{
    font-weight: 600;
}
.btn-product-detail{
    width: 180px;
    float: right;
    margin-bottom: 18px;
}
.btn-product-images{
    width: 180px;
    float: left;
    margin-bottom: 18px;
}

.card-image{
    margin-bottom: 24px;
}
.card-body-images{
    padding: 12px;
}
.new-image{
    margin-top: -12px;
    margin-bottom: 12px;
}
.btn-new-image{
    float: right;
}

table {
    text-align: center;
}

#dropdownMenuButton {
    background-color: transparent !important;
}

.card-body, .tr-data {
    background-color: aliceblue;
}

.card-header {
    background-color: #013A55;
    color: white;
    padding: 20px;
    padding-top: 30px;
}

.color-red {
    color: #CA2A4A;
}

.input-error-message {
    color: #CA2A4A;
}

.td-status {
    margin-left: 33px;
    padding-top: 4px;
}