<body>
  <div class="card">
      <div class="card-header">
          <h5 class="card-title">Categorías</h5>
      </div>
      <div class="card-body">
          <table class="table table-hover">
              <thead>
                  <tr class="table-info">
                      <th scope="row">Category Table</th>
                      <td class="categories">category_id</td>
                      <td class="categories">acronym</td>
                      <td class="categories">category</td>
                      <td class="categories">status</td>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th scope="row">Item 1</th>
                      <td>1532</td>
                      <td>IMSS</td>
                      <td>Salud</td>
                      <td class="td-open">Abierto</td>
                  </tr>
                  <tr>
                      <th scope="row">Item 2</th>
                      <td>1312</td>
                      <td>INAH</td>
                      <td>Cultural</td>
                      <td class="td-close">Cerrado</td>
                  </tr>
                  <tr>
                      <th scope="row">Item 3</th>
                      <td>2894</td>
                      <td>INAP</td>
                      <td>Finanzas</td>
                      <td class="td-open">Abierto</td>
                  </tr>
                  <tr>
                      <th scope="row">Item 4</th>
                      <td>6345</td>
                      <td>CFE</td>
                      <td>Energético</td>
                      <td class="td-close">Cerrado</td>
                  </tr>
                  <tr>
                      <th scope="row">Item 5</th>
                      <td>9076</td>
                      <td>INE</td>
                      <td>Electoral</td>
                      <td class="td-close">Cerrado</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</body>