body {
    margin: auto;
    max-width: 1280px;
}

table {
    text-align: center;
}

th, .td-open, .td-close {
    cursor: pointer;
}

.card-header {
    background-color: #517BDB;
    color: white;
    padding: 20px;
    padding-top: 30px;
}

.card-title {
    font-size: x-large;
    text-align: center;
}

.categories {
    font-weight: bold;
}

.td-close:hover {
    color: orangered;
    font-weight: bold;
}

.td-open:hover {
    color: lightgreen;
    font-weight: bold;
}