<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Productos de tecnología</title>
</head>

<body>
    <div class="card border-light mb-3">
        <!-- Card header -->
        <div class="card-header">
            <h4>Productos de tecnología</h4>
        </div>
        <!-- Card body -->
        <div class="card-body">
            <div class="row">
                <!-- Asumiendo que tienes una lista de productos llamada 'products' en tu componente Angular -->
                @for (product of products; track product; let i = $index) {
                <div class="col-md-4">
                    <div class="card card-image" (click)="navigateToView(product.gtin)">
                        <div class="buy-text">{{ product.product + "\n$" + product.price}}</div>
                        <!-- Muestra la primera imagen si está disponible, de lo contrario muestra una imagen predeterminada -->
                        <img *ngIf="images[product.product_id] && images[product.product_id].length > 0; else defaultImage"
                            [src]="images[product.product_id][0].image !== '' ? images[product.product_id][0].image : 'assets/images/default-image.png'"
                            class="d-block w-100" alt="Imagen del Producto">
                        <hr />
                        <h3 class="text-center">{{product.product}}</h3>
                    </div>
                    <!-- Template para mostrar cuando no hay imágenes disponibles -->
                    <ng-template #defaultImage>
                        <img src="assets/images/default-image.png" alt="Imagen predeterminada">
                    </ng-template>
                </div>
                }
            </div>
        </div>
    </div>
</body>
</html>